<nav class="navbar">
    <div class="container navbar-inner">

        <a href="/" class="navbar-brand">
            <span class="brand-emoji">✍️</span>
            BlogApp
        </a>

        <div class="navbar-right">

            <% if(user){ %>

                <a href="/blog/new" class="btn btn-primary btn-sm">
                    + New Post
                </a>

                <div class="nav-user">
                    <div class="avatar" style="width:26px;height:26px;font-size:.68rem;">
                        <%= user.fullName.charAt(0).toUpperCase() %>
                    </div>
                    <span style="font-size:.82rem;color:var(--text-2);">
                        <%= user.fullName.split(' ')[0] %>
                    </span>
                </div>

                <a href="/user/logout" class="btn btn-ghost btn-sm">Logout</a>

            <% } else { %>

                <a href="/user/login"  class="btn btn-ghost   btn-sm">Login</a>
                <a href="/user/signup" class="btn btn-primary btn-sm">Sign Up</a>

            <% } %>

        </div>
    </div>
</nav>
